.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: red;
  height: 100vh;
}
.allusers {
  display: flex;
}
.box {
  border: 1px solid grey;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  margin: 0;
  padding: 0;
}
